body {
 background-color: green;

}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

h1 {
  text-align: center;
  color: grey;
  font-famil: "Times New Roman";
  padding-top: 10px;

  

}

h2 {
  color: rgb(128, 0, 79);
  font-famil: Arial;
  background-color: aqua;
  height: 18px;
  text-align: center;
}

